<form class="container mt-5">
    <div class="row">
        <div class="col">
            <%= text_field_tag 'jobtitle', nil, class: "form-control", placeholder: 'Job Title' %>
        </div>
        <div class="col">
            <%= text_field_tag 'where', nil, class: "form-control", placeholder: 'Where' %>
        </div>
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
    </div>
</form>